@import "./common/variables";

.App {
  background:
    linear-gradient(90deg, #7E898F 0%, #636C75 100%),
    radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.55) 100%),
    radial-gradient(at top, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.08) 63%);
  background-blend-mode: multiply, screen;
  min-height: 100vh;
  padding: 10px 15% 20px 15%;
}

.title {
  color: $text-white;
  font-size: $font-title;
  margin: 40px 0;
  text-align: center;
  text-shadow: $text-shadow;
}

.divider {
  background-color: $bg-white;
  height: 1px;
  margin: 30px auto;
  width: 50%;
}

.btn {
  border: 1px solid $border-black;
  border-radius: 5px;
  cursor: pointer;
  font-size: $font-btn;
  font-weight: 700;
  outline: none;
  padding: 10px 20px;
  text-shadow: $text-shadow;
}

.btn-blue {
  background: linear-gradient(#3e60c2,#7d88ff);
  color: $text-white;
}

.btn-grey {
  background: linear-gradient(#cecece,#575757);
  color: $text-white;
}
