@import "../../../../common/variables";

.FileUpload {
  text-align: center;

  .file-name {
    color: $text-white;
    text-decoration: underline;
  }

  .uploaded-img {
    display: block;
    margin: 20px auto;
  }

  .form {
    display: inline-block;
  }
}
