$text-white: #fff;
$text-nav: #65b6ef;
$text-title: #ffa46f;

$bg-white: #fff;
$bg-grey: #eee;
$bg-dark-grey: rgba(0,0,0,.3);

$border-black: #000;
$border-grey: #ccc;
$border-dark-grey: #7c7c7c;
$border-white: #fff;

$text-shadow: 1px 1px 1px #000;

$font-title: 32px;
$font-nav: 20px;
$font-main: 16px;
$font-btn: 16px;
